<fieldset>
    <table>
        <tr>
            <header>
            <td  style="padding:10px" colSpan="2">
               
                <label-component [message]="'Name'"></label-component>
            </td>
            <td colSpan="2">
                <label-component [message]="'Price'"></label-component>
            </td>
        </header>
          </tr>
         
            <tr><product-category-row>
                <th colSpan="2">
                        <label-component [message]="'Sporting Goods'"></label-component>
                </th></product-category-row>
              </tr>
              <tr>
                <product-row>
                <td colSpan="2">
                   
                    <label-component [message]="'Football'"></label-component>
                </td>
                <td colSpan="2">
                    <label-component [message]="'$49.99'"></label-component>
                </td>
            </product-row>
              </tr>
              <tr>
                <product-row>
                <td colSpan="2">
                   
                    <label-component [message]="'Baseball'"></label-component>
                </td>
                <td colSpan="2">
                    <label-component [message]="'$9.99'"></label-component>
                </td>
            </product-row>
              </tr>
              <tr>
                <product-row>
                <td colSpan="2">
                   
                    <label-component [message]="'Basketball'"></label-component>
                </td>
                <td colSpan="2">
                    <label-component [message]="'$409.99'"></label-component>
                </td>
            </product-row>
              </tr>
              <tr><product-category-row>
                <th colSpan="2">
                        <label-component [message]="'Electronics'"></label-component>
                </th></product-category-row>
              </tr>
              <tr>
                <product-row>
                <td colSpan="2">
                   
                    <label-component [message]="'iPod'"></label-component>
                </td>
                <td colSpan="2">
                    <label-component [message]="'$4009.99'"></label-component>
                </td>
            </product-row>
              </tr>
              <tr>
                <product-row>
                <td colSpan="2">
                   
                    <label-component [message]="'iPhone'"></label-component>
                </td>
                <td colSpan="2">
                    <label-component [message]="'$99.99'"></label-component>
                </td>
            </product-row>
              </tr>
              <tr>
                <product-row>
                <td colSpan="2">
                   
                    <label-component [message]="'Nexus'"></label-component>
                </td>
                <td colSpan="2">
                    <label-component [message]="'$42.99'"></label-component>
                </td>
            </product-row>
              </tr>
         
        
          
    </table>
</fieldset>